page-about {
    /*.header-container {
      height: 20.2%;
      width: 100%;
      background: color($colors, 'dark');
      z-index: 10;
      padding-top: 0.5%;
      box-shadow: 0 4px 12px -4px color($colors, 'secondary');
      @media(min-width:600px){
            height: $header-height;
      }
    }
    */
    @include slide-container($scroll: yes);
    
    .my-slide-container {
      height: 100vh;
  
    }
    h2 {
      font-size: 1.7em;
      color: color($colors, primary-text-2);
      font-family: $text;
    }
    h3 {
      color: color($colors, primary-2);
      font-family: $text;
    }
  
  
  
  }
  