// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #155968,
  primary-light: #4a8696,
  primary-dark: #00303d,
  primary-text: #1BFF29,
  primary-2: #134F7F,
  primary-text-2: #0DE858,
  //secondary-text-2: #cf5f86,
  primary-3:#137F75,
  primary-text-3:#49E80D,
  secondary: #B20046,//#9B2F59,
  secondary-bright:#FE0064,
  //secondary-dark:#680030,
  secondary-light: #cf5f86,
  secondary-text:#30d6fa,//#3BC8E7,
  dark:      #000,// #00303d,
  light:      #cfcfcf, //#f4f4f4,
  light-dark: #2e2e2e,
  tertiary: #c9100a,
);



$background-color	: color($colors, dark);
$tabs-background:color($colors, dark);
$tabs-ios-tab-icon-color-active : color($colors, secondary);
$tabs-md-tab-icon-color-active : color($colors, secondary);
$tabs-tab-color-active	:  color($colors, primary);
$tabs-ios-tab-icon-color	: rgba(60, 60, 60, 0.7); //inactive tabs icon's outline color 
$tabs-tab-color-inactive	: rgba(60, 60, 60, 0.7); // inactive tab's font color
$tabs-ios-border-color: color($colors, primary);

$toolbar-background	: color($colors, dark);
$toolbar-md-title-text-color : color($colors, light);
$tabs-tab-padding-top	:-100px;

$toggle-ios-handle-background-color	: color($colors, primary);
$toggle-md-handle-background-color-off		: color($colors, primary-dark);
$toggle-md-handle-background-color-on	: color($colors, primary);
$toggle-md-track-background-color-on: color($colors, secondary-light);
$toggle-md-track-background-color-off: color($colors, primary);

// Custom
$header-height: 15.25vh;
$headline:  'Pacifico', sans-serif;
$text:   'Exo 2', sans-serif; 
$decorative-headline: 'Sarina', sans-serif;
$decorative-text: 'Jura', sans-serif;

// App iOS Variables
$toolbar-ios-title-text-color	: color($colors, light);

// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
